* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: .5s ease;
}
body {
	padding: 1rem;
	font-family: 'Roboto', sans-serif;
	color: #333;
	background-color: #bacf26;
}
h1 {
	margin-bottom: .8em;
}
p {
	line-height: 2em;
	margin-bottom: 1.4em;
}
a {
	color: #167ac6;
	text-decoration: none;
}
article {
	width: 100%;
	max-width: 35em;
	margin: 0 auto;
	padding: 2em;
	background-color: #fff;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .3);
}
code:first-of-type {
	display: block;
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	line-height: 1.4em;
	background-color: #ededed;
}
code span {
	display: block;
}
code span.one {
	padding-left: 0;
}
code span.two {
	padding-left: 2em;
}
code span.three {
	padding-left: 4em;
}
code span.four {
	padding-left: 6em;
}